name: Run OpenWrt on QEMU

on:
  workflow_dispatch:    # 手动触发
  schedule:
    - cron: "0 0 * * *"   # 每天 00:00 运行
    - cron: "0 6 * * *"   # 每天 06:00 运行
    - cron: "0 12 * * *"  # 每天 12:00 运行
    - cron: "0 18 * * *"  # 每天 18:00 运行

jobs:
  openwrt-qemu:
    runs-on: ubuntu-latest  
    timeout-minutes: 359  # 5 小时 59 分钟后自动结束
    steps:
      - name: 安装 QEMU 虚拟机
        run: sudo apt update && sudo apt install -y qemu-system-aarch64

      - name: 下载 OpenWrt 固件
        run: |
          wget https://raw.githubusercontent.com/linzf8866/test_zerotier/refs/heads/main/openwrt-armvirt-64-generic-ext4-rootfs_actions.img.gz
          wget https://raw.githubusercontent.com/linzf8866/test_zerotier/refs/heads/main/openwrt-armvirt-64-generic-kernel.bin.gz
          
      - name: 解压 OpenWrt 固件
        run: |
          gzip -d openwrt-armvirt-64-generic-ext4-rootfs_actions.img.gz
          gzip -d openwrt-armvirt-64-generic-kernel.bin.gz

      - name: 运行 OpenWrt 虚拟机
        run: |
          qemu-system-aarch64 -M virt -m 1024m \
            -kernel openwrt-armvirt-64-generic-kernel.bin \
            -append "root=fe00" \
            -hda openwrt-armvirt-64-generic-ext4-rootfs_actions.img \
            -nographic \
            -cpu cortex-a76 -smp 4 \
            -net nic -net user,id=wan,hostfwd=tcp::7080-:80,hostfwd=tcp::7022-:22
